.record {
    display: block;
    background: #D01414;
	border-radius: 50%;
    height:50px;
    width:50px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    margin: 50px auto;
    position: relative;
    z-index: 1;
    transition: all 0s;
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    left: 10px;
}
.record:before {
    content: '';
    position: absolute;
    top: -55px;
    left: -45px;
    bottom: -55px;
    right: -35px;
    border-radius: 50%;
    border: 10px solid #2c3e50;
    z-index: 2;
    transition: all 0s;
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
}
.record:after {
    content: '';
    opacity: 0;
    transition: opacity 0s;
    -webkit-transition: opacity 0s;
    -moz-transition: opacity 0s;
}

.record:hover:before, .play:focus:before {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
}

.record.active {
    border-color: transparent;
    background-color: transparent;
}

.record.active:after {
    content: '';
    opacity: 1;
    width: 50px;
    height: 50px;
    background: #D01414;
    position: absolute;
    left: -5px;
    right: 27px;
    top: -23px;

}
